<%= render partial: "layouts/notifications" %>
<div class="slides">
  <% @slides.each do |slide| %>
    <div class="slide <%= slide["type"] %>" data-id="<%= slide["id"] %>" data-assessment-id="<%= slide["assessment_id"] %>">
      <div class="slide-caption">
        <%= slide["caption"] %>
      </div>
      <div class="slide-image">
        <%= image_tag slide["image_desktop"] %>
      </div>
      <div class="slide-badges">
        <% slide["results"] && slide["results"].each do |results| %>
          <div class="slide-badge">
            <%= link_to image_tag(results["badge"]), personality_path(results["id"]) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="loading-slide">
    <div class="slide-caption">
      Loading...
    </div>
    <div class="slide-image">
      <%= image_tag "loading.jpg" %>
    </div>
  </div>
</div>
