<%= link_to matches_path, class: "left-header colored" do %>
  <%= fa_icon "arrow-left" %>
<% end %>

<div class="right-header">
  <% @user.results.each do |result| %>
    <%= link_to image_tag(result.badge), personality_path(result.id) %>
  <% end %>
</div>

<div class="header">
  <%= @user.name %>
</div>

<div class="picture">
  <%= image_tag @user.picture(400) %>
</div>

<div class="section">
  <h2>Mutual Interests</h2>
  <% @mutual_interests.each do |page| %>
    <%= link_to image_tag(page.picture), page.link %>
  <% end %>

  <% if @mutual_interests.empty? %>
    <span>There's nothing here</span>
  <% end %>
</div>

<div class="section">
  <h2>About</h2>
  <span><%= @data.about %></span>
</div>

<div class="section">
  <h2>Birthday</h2>
  <span><%= @data.birthday %></span>
</div>

<div class="section">
  <h2>Location</h2>
  <span><%= @data.location %></span>
</div>

<div class="section">
  <h2>Email</h2>
  <span><%= @user.email || "There's nothing here" %></span>
</div>
