<!DOCTYPE html>
<html>
  <head>
    <title>Ember</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= favicon_link_tag       "favicon.ico" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://cdn.traitify.com/lib/v1.js", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= "#{controller_name} #{action_name} #{controller_name}-#{action_name}" %>">
    <div class="phone">
      <%= yield %>
    </div>
  </body>
</html>
